<h1>Admin/planes</h1>

<p>
  <a href="<%= newAdmin/planePath() %>" class="btn btn-primary">Create New Admin/plane</a>
</p>

<table class="table table-striped">
  <thead>
  <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (admin/plane) in admin/planes { %>
      <tr>
      <td>
          <div class="pull-right">
            <a href="<%= admin/planePath({ admin/plane_id: admin/plane.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editAdmin/planePath({ admin/plane_id: admin/plane.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= admin/planePath({ admin/plane_id: admin/plane.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
